<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-row>
      <img style="width: 70%;margin:auto;padding:20px" src="./assets/images/logo.png" (click)="backToHomepage()">
  </ion-row>
  <ion-list  style="padding:0 30px">
    <ion-item no-padding>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-row style="padding:0 30px">
    <button ion-button block class="bg-theme" (click)="login()">Login</button>
    <button ion-button clear block class="text-theme" (click)="openPage('signup')">No Account? Sign Up Here</button>
  </ion-row>

</ion-content>
