<ion-header>

  <ion-navbar>
    <ion-title>Your Cart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>


  <!-- Add this to the plugin in the future -->

    <ion-grid>
      <ion-row style="margin-top: 10px;"  padding center>
          <h3 class="main-heading">Product Description</h3>
      </ion-row>
      <ion-row [hidden]="!showEmptyCartMessage">
        <ion-col>There are no products inm your cart!</ion-col>
      </ion-row>
    </ion-grid>


  <ion-card  *ngFor="let item of cartItems; let i = index">
    <ion-item color="light">

        <ion-thumbnail item-left>
          <img [src]="item.product.featured_src" style="width: 60px !important; height: 60px !important;"/>
        </ion-thumbnail>
        <h2>{{ item.product.title }}</h2>
  
        <p *ngIf="item.variation"><span *ngFor="let att of item.variation.attributes">{{ att.option | titlecase }} &nbsp;</span></p>
  
        <p>{{ item.qty }} • 
          <span *ngIf="!item.variation">{{ item.product.price | currency:countryOfCurrency: 'symbol-narrow'}}</span>
          <span *ngIf="item.variation">{{ item.variation.price | currency:countryOfCurrency: 'symbol-narrow'}}</span></p>
        <!-- <button ion-button clear item-right color="danger" (click)="removeFromCart(item, i)">
          <ion-icon name="close-circle"></ion-icon>
        </button> -->
  
      </ion-item>
    
<ion-item class="compact">
      <ion-row no-padding>
        <ion-col col-8>
          <button ion-button icon-only clear color="danger" (click)="changeQty(item, i, -1)">
            <ion-icon name="remove-circle"></ion-icon>
          </button>
          <button ion-button clear color="danger"> {{ item.qty }} </button>
          <button ion-button icon-only clear color="danger" (click)="changeQty(item, i, 1)">
            <ion-icon name="add-circle"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-4 style="text-align: right;">
          <button ion-button small outline (click)="removeFromCart(item, i)" color="danger" style="width: 64px;">Remove</button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-card>

  <ion-grid [hidden]="showEmptyCartMessage">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col col-3>
            <b>TOTAL</b>
          </ion-col>
          <ion-col col-3>

          </ion-col>
          <ion-col col-2>

          </ion-col>
          <ion-col col-4 style="text-align:right" >
            <b>{{ total | currency:countryOfCurrency: 'symbol-narrow'  }}</b>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button class="bg-theme" outline block (click)="closeModal()">Back</button>
        </ion-col>
        <ion-col>
            <button ion-button class="bg-theme" block (click)="checkout()">Checkout</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
