<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-6>
          <img style="width:100px" src="./assets/images/logo.png" (click)="backToHomepage()">
      </ion-col>
      <ion-col text-right col-6>  
          <button ion-button medium clear right (click)="openSearchPage()">
              <ion-icon name="search"></ion-icon>
          </button>
          <button ion-button medium clear right  (click)="openCart()">
              <ion-icon name="cart"></ion-icon>
          </button>
      </ion-col>
    </ion-row>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>  
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-fab right bottom  (click)="openCart()">
      <button ion-fab class="bg-theme"><ion-icon name="cart"></ion-icon></button>
  </ion-fab>
  
  <ion-card>
    <ion-slides autoplay="3000" pager>
      <ion-slide *ngFor="let number of [1,2,3]">
        <img src="./assets/images/{{number}}.jpg" alt="">
      </ion-slide>
    </ion-slides>    
  </ion-card>

  <ion-row style="margin-top: 10px;"  padding center>
    <h1 class="main-heading"><span>SHOP</span> LATEST TRENDS</h1>
  </ion-row>
  <ion-row padding center *ngIf="!products">
      <h1 class="main-heading"><ion-spinner center large name="crescent"></ion-spinner></h1>
    </ion-row>
  <ion-grid> 
    <ion-row>
      <ion-slides #productSlides>
        <ion-slide *ngFor="let product of products">
          <ion-card no-padding>
            <img [src]="product.featured_src" alt="">
            <h1 padding center>{{ product.title }}</h1>
            <p center padding [innerHTML]="product.short_description"></p>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item *ngFor="let product of moreProducts" text-wrap (click)="openProductPage(product)">
      <ion-thumbnail item-left>
        <img [src]="product.featured_src">
      </ion-thumbnail>
      <h2>{{ product.title }}</h2>
      <p>
        <span [innerHTML]="product.short_description.substr(0,50) + '...'"></span>
        <span [innerHTML]="product.price_html"></span>
      </p>
      <button ion-button icon clear item-right>
        <ion-icon name="arrow-forward">

        </ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMoreProducts($event)"> 
    <ion-infinite-scroll-content>

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
