page-home {

    ion-card{
        margin:0 !important;
        width: 100% !important;
    }


    // ion-icon {
    //     color:#b1dbbe !important;
    // }

    .button-md {
        color:$clr-blue !important;
    }

        
 
}
