<ion-header>
    <ion-navbar>
      <ion-row>
          <ion-col col-6>
              <img style="width:100px" src="./assets/images/logo.png" (click)="backToHomepage()">
          </ion-col>
          <ion-col text-right col-6>
            <button ion-button medium clear right (click)="openSearchPage()">
                <ion-icon name="search"></ion-icon>
            </button>
            <button ion-button medium clear right  (click)="openCart()">
                <ion-icon name="cart"></ion-icon>
            </button>
        </ion-col>
      </ion-row>
      <button ion-button menuToggle right>
        <ion-icon name="menu"></ion-icon>
      </button>  
    </ion-navbar>
  </ion-header>

<ion-content>
    <ion-row style="margin-top: 10px;"  padding center>
        <h1 class="main-heading"><span>YOUR </span>ORDERS</h1>
    </ion-row>
    <ion-row padding center *ngIf="customerOrders.length == 0">
      <p style="text-align:center;width:100%">No orders Found...</p>
    </ion-row>
    <ion-list>
        <ion-item *ngFor="let order of customerOrders">
          <h2>Order: #{{order.id}}</h2>
          <p>Date: {{order.date_created}}</p>
          <p>Status: {{order.status}}</p>
          <p>Items: {{order.line_items.length}}</p>
          <button ion-button clear item-end (click)="openUserOrderDetailsPage(order)">Manage</button>
        </ion-item>
      </ion-list>

      <ion-infinite-scroll (ionInfinite)="loadMoreOrders($event)"> 
        <ion-infinite-scroll-content>
    
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
      
</ion-content>
