page-user-orders {
    ion-card{
        margin:0 !important;
        width: 100% !important;
    }


    // ion-icon {
    //     color:#b1dbbe !important;
    // }

    .button-md {
        color:$clr-blue !important;
    }

    .item-md p{
        font-size:1.2rem;
    }
}
