<ion-header>

  <ion-navbar>
    <ion-title style="text-transform:capitalize">{{ wpPostType }} Archive</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list > 
    <ion-item *ngFor="let wpPost of wpPosts">
      <ion-thumbnail item-left>
          <img [src]="wpPost.featured_image">
        </ion-thumbnail>
        <h2>{{ wpPost.title.rendered }}</h2>
        <p>
          <span [innerHTML]="wpPost.content.rendered.substr(0,50) + '...'"></span>
        </p>
        <button ion-button icon clear item-right>
          <ion-icon name="arrow-forward">
  
          </ion-icon>
        </button>
    </ion-item>

  </ion-list>
</ion-content>
