// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$clr-blue: #003651;
.main-logo{
    width: 100px;
}

ion-navbar{
    text-align: left !important;
}

.toolbar-md{
    padding:15px;
}

.bg-theme{
    background-color: #003651;
    color:#FFF;
}

.text-theme{
    color: #003651;
}

.main-heading {
    text-transform: uppercase;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    color: #003651;
    width: 100%;
    text-align: center;;
    span{
        color: #b0b0b0;
    }
}

// ion-loading ion-backdrop {
//     background-color: $clr-blue;
//     opacity:1 !important;

// }
// .loading-content {
//     text-align: center;
// }
// .loading-md .loading-wrapper{
//     padding:0 !important;
//     background-color:transparent;
//     max-width: 100%;
//     box-shadow: none;   
//     img {
//         max-width: 100px;;
//     }
//     h2 {
//         color:#FFF;
//         text-transform: uppercase;
//         letter-spacing: 1px;
//         font-size:14px;
//         text-align: center;
//     }
// }