page-search {
    ion-header {
        .toolbar-background-md{
            background-color:$clr-blue;
        }
        .back-button.show-back-button{
            color:#FFF;
        }
    }
    .button-clear-md{
        color:$clr-blue;
    
    }

    .out-of-stock{
        color:red;
        font-size:12px;
    }
}
