<ion-header no-padding>
  <ion-navbar  no-padding>
    <ion-title>{{ product.title }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-row padding center *ngIf="!product">
    <h1 class="main-heading"><ion-spinner center large name="dots"></ion-spinner></h1>
  </ion-row>
  <ion-fab right bottom  (click)="openCart()">
    <button ion-fab class="bg-theme"><ion-icon name="cart"></ion-icon></button>
  </ion-fab>

  <ion-card no-padding>
      <ion-slides autoplay="3000">
          <ion-slide *ngFor="let image of product.images">
            <img [src]="image.src" alt="">
          </ion-slide>
        </ion-slides> 
        
        <ion-card-content>
          <ion-card-title>
            {{ product.title }} &nbsp;
            <ion-chip *ngFor="let cat of product.categories" style="margin-left:5px">
              <ion-label color="danger">{{ cat }}</ion-label>
            </ion-chip>
          </ion-card-title>
          <h2 [innerHTML]="product.price_html"></h2>
          <p [innerHTML]="product.short_description" style="margin-bottom:20px;"></p>

            <ion-row *ngIf="product.stock_quantity">
              <ion-col color="secondary" col-8>
                In Stock
              </ion-col>
              <ion-col color="secondary" col-4 right>
                  {{ product.stock_quantity }} 
              </ion-col>
              
            </ion-row>

          <ion-card *ngIf="product.variations.length > 0">
              <ion-item-divider color="light">Product options</ion-item-divider>
              <ng-container *ngFor="let attribute of product.attributes">
                <ion-item *ngIf="attribute.variation">
                  <ion-label> {{ attribute.name | titlecase }}</ion-label>
                  <ion-select interface="action-sheet" [(ngModel)]="selectedOptions[attribute.name]" (ionChange)="check(attribute.name)">
                    <ion-option *ngFor="let option of attribute.options" [value]="option">{{ option }}</ion-option>
                  </ion-select>
                </ion-item>
              </ng-container>
            </ion-card>
          
          
          <button ion-button icon-left block outline class="bg-theme" (click)="addToCart(product)" *ngIf="product.in_stock == true">
            <ion-icon name="basket"></ion-icon> Add to Cart
          </button>
          <button ion-button icon-left block outline disabled color="danger" *ngIf="product.in_stock == false">
            Out of Stock
          </button>
        </ion-card-content>
        
  </ion-card>

  <ion-card *ngIf="product.attributes.length > 0">
    <ion-card-content>
      <ion-card-title>
        Specifications
      </ion-card-title>
      <ion-grid>
        <ion-row *ngFor="let att of product.attributes">
          <ion-col col-4>
            {{ att.name }}:
          </ion-col>
          <ion-col col-8>
            <span *ngFor="let option of att.options">{{ option }}, </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="reviews.length > 0">
    <ion-card-content>
      <ion-card-title>
        Reviews
      </ion-card-title>
      <ion-grid>
        <ion-row *ngFor="let review of reviews">
          <ion-col col-4>
           <b>{{ review.reviewer_name }}</b><br/>
           <span *ngIf="review.rating >= 1">
             <ion-icon style="color:#d4af37" small name="star"></ion-icon>
           </span>
           <span *ngIf="review.rating >= 2">
             <ion-icon style="color:#d4af37" small name="star"></ion-icon>
           </span>
           <span *ngIf="review.rating >= 3">
              <ion-icon style="color:#d4af37" small name="star"></ion-icon>
            </span>
            <span *ngIf="review.rating >= 4">
              <ion-icon style="color:#d4af37" small name="star"></ion-icon>
            </span>
            <span *ngIf="review.rating >= 5">
              <ion-icon style="color:#d4af37" small name="star"></ion-icon>
            </span>
          </ion-col>
          <ion-col col-8>
            {{ review.review }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


</ion-content>
