<ion-header no-padding>
    <ion-navbar  no-padding>
      <ion-title>Customer Sign Up</ion-title>
    </ion-navbar>
  </ion-header>
  

<ion-content>
  <ion-list>
    <ion-item-divider class="bg-theme">Personal Details</ion-item-divider>
    <ion-item>
      <ion-label>First Name</ion-label>
      <ion-input type="text" [(ngModel)]="newUser.first_name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Last Name</ion-label>
        <ion-input type="text" [(ngModel)]="newUser.last_name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="email" [(ngModel)]="newUser.email" (ionBlur)="checkEmail()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input type="text" [(ngModel)]="newUser.username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" [(ngModel)]="newUser.password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="newUser.confirm_password"></ion-input>
    </ion-item>


    <ion-item-divider class="bg-theme">Billing Details</ion-item-divider>
    <ion-item>
      <ion-label>Address Line 1</ion-label>
      <ion-textarea type="text" maxlength="80" [(ngModel)]="newUser.billing_address.address_1"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Address Line 2</ion-label>
      <ion-textarea type="text" maxlength="80" [(ngModel)]="newUser.billing_address.address_2"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Country</ion-label>
      <ion-select [(ngModel)]="newUser.billing_address.country">
          <ion-option value="PH" selected="true">Philippines</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>State/Province</ion-label>
      <ion-select [(ngModel)]="newUser.billing_address.state">
        <ion-option value="00">Metro Manila</ion-option>
        <ion-option value="ABR">Abra</ion-option>
        <ion-option value="AGN">Agusan del Norte</ion-option>
        <ion-option value="AGS">Agusan del Sur</ion-option>
        <ion-option value="AKL">Aklan</ion-option>
        <ion-option value="ALB">Albay</ion-option>
        <ion-option value="ANT">Antique</ion-option>
        <ion-option value="APA">Apayao</ion-option>
        <ion-option value="AUR">Aurora</ion-option>
        <ion-option value="BAS">Basilan</ion-option>
        <ion-option value="BAN">Bataan</ion-option>
        <ion-option value="BTN">Batanes</ion-option>
        <ion-option value="BTG">Batangas</ion-option>
        <ion-option value="BEN">Benguet</ion-option>
        <ion-option value="BIL">Biliran</ion-option>
        <ion-option value="BOH">Bohol</ion-option>
        <ion-option value="BUK">Bukidnon</ion-option>
        <ion-option value="BUL">Bulacan</ion-option>
        <ion-option value="CAG">Cagayan</ion-option>
        <ion-option value="CAN">Camarines Norte</ion-option>
        <ion-option value="CAS">Camarines Sur</ion-option>
        <ion-option value="CAM">Camiguin</ion-option>
        <ion-option value="CAP">Capiz</ion-option>
        <ion-option value="CAT">Catanduanes</ion-option>
        <ion-option value="CAV">Cavite</ion-option>
        <ion-option value="CEB">Cebu</ion-option>
        <ion-option value="COM">Compostela Valley</ion-option>
        <ion-option value="NCO">Cotabato</ion-option>
        <ion-option value="DAV">Davao del Norte</ion-option>
        <ion-option value="DAS">Davao del Sur</ion-option>
        <ion-option value="DAC">Davao Occidental</ion-option>
        <ion-option value="DAO">Davao Oriental</ion-option>
        <ion-option value="DIN">Dinagat Islands</ion-option>
        <ion-option value="EAS">Eastern Samar</ion-option>
        <ion-option value="GUI">Guimaras</ion-option>
        <ion-option value="IFU">Ifugao</ion-option>
        <ion-option value="ILN">Ilocos Norte</ion-option>
        <ion-option value="ILS">Ilocos Sur</ion-option>
        <ion-option value="ILI">Iloilo</ion-option>
        <ion-option value="ISA">Isabela</ion-option>
        <ion-option value="KAL">Kalinga</ion-option>
        <ion-option value="LUN">La Union</ion-option>
        <ion-option value="LAG">Laguna</ion-option>
        <ion-option value="LAN">Lanao del Norte</ion-option>
        <ion-option value="LAS">Lanao del Sur</ion-option>
        <ion-option value="LEY">Leyte</ion-option>
        <ion-option value="MAG">Maguindanao</ion-option>
        <ion-option value="MAD">Marinduque</ion-option>
        <ion-option value="MAS">Masbate</ion-option>
        <ion-option value="MSC">Misamis Occidental</ion-option>
        <ion-option value="MSR">Misamis Oriental</ion-option>
        <ion-option value="MOU">Mountain Province</ion-option>
        <ion-option value="NEC">Negros Occidental</ion-option>
        <ion-option value="NER">Negros Oriental</ion-option>
        <ion-option value="NSA">Northern Samar</ion-option>
        <ion-option value="NUE">Nueva Ecija</ion-option>
        <ion-option value="NUV">Nueva Vizcaya</ion-option>
        <ion-option value="MDC">Occidental Mindoro</ion-option>
        <ion-option value="MDR">Oriental Mindoro</ion-option>
        <ion-option value="PLW">Palawan</ion-option>
        <ion-option value="PAM">Pampanga</ion-option>
        <ion-option value="PAN">Pangasinan</ion-option>
        <ion-option value="QUE">Quezon</ion-option>
        <ion-option value="QUI">Quirino</ion-option>
        <ion-option value="RIZ">Rizal</ion-option>
        <ion-option value="ROM">Romblon</ion-option>
        <ion-option value="WSA">Samar</ion-option>
        <ion-option value="SAR">Sarangani</ion-option>
        <ion-option value="SIQ">Siquijor</ion-option>
        <ion-option value="SOR">Sorsogon</ion-option>
        <ion-option value="SCO">South Cotabato</ion-option>
        <ion-option value="SLE">Southern Leyte</ion-option>
        <ion-option value="SUK">Sultan Kudarat</ion-option>
        <ion-option value="SLU">Sulu</ion-option>
        <ion-option value="SUN">Surigao del Norte</ion-option>
        <ion-option value="SUR">Surigao del Sur</ion-option>
        <ion-option value="TAR">Tarlac</ion-option>
        <ion-option value="TAW">Tawi-Tawi</ion-option>
        <ion-option value="ZMB">Zambales</ion-option>
        <ion-option value="ZAN">Zamboanga del Norte</ion-option>
        <ion-option value="ZAS">Zamboanga del Sur</ion-option>
        <ion-option value="ZSI">Zamboanga Sibugay</ion-option>      
      </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>City</ion-label>
        <ion-input type="text" [(ngModel)]="newUser.billing_address.city"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Postal Code</ion-label>
        <ion-input type="number" [(ngModel)]="newUser.billing_address.postcode"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Phone</ion-label>
        <ion-input type="tel" [(ngModel)]="newUser.billing_address.phoe"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Same Shipping Details</ion-label>
      <ion-checkbox (ionChange)="setBillingToShipping()"></ion-checkbox>
    </ion-item>

    
    <ion-item-divider class="bg-theme" *ngIf="!billing_shipping_same">Shipping Details</ion-item-divider>
    <ion-item *ngIf="!billing_shipping_same">
      <ion-label>Address Line 1</ion-label>
      <ion-textarea type="text" maxlength="80" [(ngModel)]="newUser.shipping_address.address_1"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="!billing_shipping_same">
      <ion-label>Address Line 2</ion-label>
      <ion-textarea type="text" maxlength="80" [(ngModel)]="newUser.shipping_address.address_2"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="!billing_shipping_same">
      <ion-label>Country</ion-label>
      <ion-select [(ngModel)]="newUser.shipping_address.country">
          <ion-option value="PH" selected="true">Philippines</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="!billing_shipping_same">
      <ion-label>State/Province</ion-label>
      <ion-select [(ngModel)]="newUser.shipping_address.state">
        <ion-option value="00">Metro Manila</ion-option>
        <ion-option value="ABR">Abra</ion-option>
        <ion-option value="AGN">Agusan del Norte</ion-option>
        <ion-option value="AGS">Agusan del Sur</ion-option>
        <ion-option value="AKL">Aklan</ion-option>
        <ion-option value="ALB">Albay</ion-option>
        <ion-option value="ANT">Antique</ion-option>
        <ion-option value="APA">Apayao</ion-option>
        <ion-option value="AUR">Aurora</ion-option>
        <ion-option value="BAS">Basilan</ion-option>
        <ion-option value="BAN">Bataan</ion-option>
        <ion-option value="BTN">Batanes</ion-option>
        <ion-option value="BTG">Batangas</ion-option>
        <ion-option value="BEN">Benguet</ion-option>
        <ion-option value="BIL">Biliran</ion-option>
        <ion-option value="BOH">Bohol</ion-option>
        <ion-option value="BUK">Bukidnon</ion-option>
        <ion-option value="BUL">Bulacan</ion-option>
        <ion-option value="CAG">Cagayan</ion-option>
        <ion-option value="CAN">Camarines Norte</ion-option>
        <ion-option value="CAS">Camarines Sur</ion-option>
        <ion-option value="CAM">Camiguin</ion-option>
        <ion-option value="CAP">Capiz</ion-option>
        <ion-option value="CAT">Catanduanes</ion-option>
        <ion-option value="CAV">Cavite</ion-option>
        <ion-option value="CEB">Cebu</ion-option>
        <ion-option value="COM">Compostela Valley</ion-option>
        <ion-option value="NCO">Cotabato</ion-option>
        <ion-option value="DAV">Davao del Norte</ion-option>
        <ion-option value="DAS">Davao del Sur</ion-option>
        <ion-option value="DAC">Davao Occidental</ion-option>
        <ion-option value="DAO">Davao Oriental</ion-option>
        <ion-option value="DIN">Dinagat Islands</ion-option>
        <ion-option value="EAS">Eastern Samar</ion-option>
        <ion-option value="GUI">Guimaras</ion-option>
        <ion-option value="IFU">Ifugao</ion-option>
        <ion-option value="ILN">Ilocos Norte</ion-option>
        <ion-option value="ILS">Ilocos Sur</ion-option>
        <ion-option value="ILI">Iloilo</ion-option>
        <ion-option value="ISA">Isabela</ion-option>
        <ion-option value="KAL">Kalinga</ion-option>
        <ion-option value="LUN">La Union</ion-option>
        <ion-option value="LAG">Laguna</ion-option>
        <ion-option value="LAN">Lanao del Norte</ion-option>
        <ion-option value="LAS">Lanao del Sur</ion-option>
        <ion-option value="LEY">Leyte</ion-option>
        <ion-option value="MAG">Maguindanao</ion-option>
        <ion-option value="MAD">Marinduque</ion-option>
        <ion-option value="MAS">Masbate</ion-option>
        <ion-option value="MSC">Misamis Occidental</ion-option>
        <ion-option value="MSR">Misamis Oriental</ion-option>
        <ion-option value="MOU">Mountain Province</ion-option>
        <ion-option value="NEC">Negros Occidental</ion-option>
        <ion-option value="NER">Negros Oriental</ion-option>
        <ion-option value="NSA">Northern Samar</ion-option>
        <ion-option value="NUE">Nueva Ecija</ion-option>
        <ion-option value="NUV">Nueva Vizcaya</ion-option>
        <ion-option value="MDC">Occidental Mindoro</ion-option>
        <ion-option value="MDR">Oriental Mindoro</ion-option>
        <ion-option value="PLW">Palawan</ion-option>
        <ion-option value="PAM">Pampanga</ion-option>
        <ion-option value="PAN">Pangasinan</ion-option>
        <ion-option value="QUE">Quezon</ion-option>
        <ion-option value="QUI">Quirino</ion-option>
        <ion-option value="RIZ">Rizal</ion-option>
        <ion-option value="ROM">Romblon</ion-option>
        <ion-option value="WSA">Samar</ion-option>
        <ion-option value="SAR">Sarangani</ion-option>
        <ion-option value="SIQ">Siquijor</ion-option>
        <ion-option value="SOR">Sorsogon</ion-option>
        <ion-option value="SCO">South Cotabato</ion-option>
        <ion-option value="SLE">Southern Leyte</ion-option>
        <ion-option value="SUK">Sultan Kudarat</ion-option>
        <ion-option value="SLU">Sulu</ion-option>
        <ion-option value="SUN">Surigao del Norte</ion-option>
        <ion-option value="SUR">Surigao del Sur</ion-option>
        <ion-option value="TAR">Tarlac</ion-option>
        <ion-option value="TAW">Tawi-Tawi</ion-option>
        <ion-option value="ZMB">Zambales</ion-option>
        <ion-option value="ZAN">Zamboanga del Norte</ion-option>
        <ion-option value="ZAS">Zamboanga del Sur</ion-option>
        <ion-option value="ZSI">Zamboanga Sibugay</ion-option>      
      </ion-select>
    </ion-item>
    <ion-item *ngIf="!billing_shipping_same">
        <ion-label>City</ion-label>
        <ion-input type="text" [(ngModel)]="newUser.shipping_address.city"></ion-input>
    </ion-item>
    <ion-item *ngIf="!billing_shipping_same">
        <ion-label>Postal Code</ion-label>
        <ion-input type="number" [(ngModel)]="newUser.shipping_address.postcode"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <button ion-button block class="bg-theme" (click)="signup()">Sign Up</button>
</ion-footer>