<ion-header>
    <ion-navbar>
      <ion-row>
        <ion-col col-6>
            <img style="width:100px" src="./assets/images/logo.png" (click)="backToHomepage()">
        </ion-col>
        <ion-col text-right col-6>  
            <button ion-button medium clear right (click)="openSearchPage()">
                <ion-icon name="search"></ion-icon>
            </button>
            <button ion-button medium clear right  (click)="openCart()">
                <ion-icon name="cart"></ion-icon>
            </button>
        </ion-col>
      </ion-row>
      <button ion-button menuToggle right>
        <ion-icon name="menu"></ion-icon>
      </button>  
    </ion-navbar>
  </ion-header>


<ion-content>
  <ion-row style="margin-top: 10px;"  padding center>
      <h1 class="main-heading">{{ category.name }}</h1>
  </ion-row>
  <ion-row padding center *ngIf="!products">
    <h1 class="main-heading"><ion-spinner center large name="dots"></ion-spinner></h1>
  </ion-row>
  <ion-list>
    <ion-item *ngFor="let product of products" text-wrap (click)="openProductPage(product)">
      <ion-thumbnail item-left>
        <img [src]="product.featured_src">
      </ion-thumbnail>
      <h2>{{ product.title }}</h2>
      <p>
        <span [innerHTML]="product.short_description.substr(0,50) + '...'"></span>
        <span [innerHTML]="product.price_html"></span>
      </p>
      <button ion-button icon clear item-right>
        <ion-icon name="arrow-forward">

        </ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMoreProducts($event)"> 
    <ion-infinite-scroll-content>

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
