page-menu {
    .card-background-page{

        ion-card{
            position:relative;
            text-align: center;
            margin:0px !important;
            width:100% !important;
        }

        .menu-card-bg{
            &:after{
                content:'';
                background-color:rgba(0,0,0,.5);
                display: block;
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left:0;
                z-index: 1;
            }
        }

        .card-title{
            position: absolute;
            top:36%;
            font-size:2.0em;
            width:100%;
            font-weight: bold;
            color:#FFFFFF;
            z-index: 2;
        }

        .card-subtitle{
            font-size:1em;
            position: absolute;
            top: 60%;
            width:100%;
            color:#FFFFFF;
            z-index: 2;
        }

    }
}
